section.about 
    .container 
        .columns 
            .column 
                .description.description--about
                    .icon
                    .text 
                        .block-title Конкурсе 
                            span.accent PRO
                            | fashion Masters 
                        .content-block
                            p Всероссийский конкурс промышленного дизайна одежды PROfashion Masters – это площадка для начинающих и действующих дизайнеров.
                            p Тема конкурса – верхняя одежда (пальто).
                            p Проводится с 2014 года
            .column 
                .btn.btn--red 
                    .text Регистрация дизайнера

                .description.description--registration
                    .content-block
                        p Открыт приём заявок на участие в  2024 году с 1 сентября
