section.archive-competitions
    .container 
        .section-title Конкурсы прошлых лет

        .competitions  
            .columns 
                .column
                    .competition.competition--last(style="background-image:url(img/competition-last.jpg)")
                    .info
                        .name Итоги конкурса 2020-2021
                        .content-block
                            p Выбраны победители VII Всероссийского конкурса дизайнеров одежды PROfashion Masters.
                .column
                    .archive 
                        .column
                            .competition(style="background-image:url(img/competition-01.jpg)")
                            .info
                                .name Итоги конкурса 20-21
                                .content-block
                                    p Выбраны победители VII Всероссийского конкурса дизайнеров одежды PROfashion Masters 24 февраля состоялся гала-показ коллекций финалистов конкурса PROfashion Masters. Свои работы
                        .column
                            .competition(style="background-image:url(img/competition-02.jpg)")
                            .info
                                .name Итоги конкурса 18-19
                                .content-block
                                    p 27 февраля 2019 года на подиуме выставки Collection Premiere Moscow состоялся финал Всероссийского конкурса промышленного дизайна одежды PROfashion Masters…
                                
                    .timeline 
                        a.year(href="#") 2017
                        a.year(href="#") 2016
                        a.year(href="#") 2015
                        a.year(href="#") 2014