section.contests-filter 
    .container 
        .filter 
            .btn.btn--red 
                .text Актуальные
            .btn.btn--transparent
                .text Прошедшие

include telegram-news.pug

include contests-list-actual.pug
include contests-list-last.pug