section.contests-last
    .container 
        .contests 
            .contest 
                .photo(style="background-image:url(/img/photo-contests-actual.jpg)")

                .info 
                    .name Итоги конкурса 2022/23
                    .description 
                        .content-block 
                            p Выбраны победители VII Всероссийского конкурса дизайнеров одежды PROfashion Masters

            .contest 
                .photo(style="background-image:url(/img/photo-contests-actual.jpg)")

                .info 
                    .name Итоги конкурса 2022/23
                    .description 
                        .content-block 
                            p Выбраны победители VII Всероссийского конкурса дизайнеров одежды PROfashion Masters

            .contest 
                .photo(style="background-image:url(/img/photo-contests-actual.jpg)")

                .info 
                    .name Итоги конкурса 2022/23
                    .description 
                        .content-block 
                            p Выбраны победители VII Всероссийского конкурса дизайнеров одежды PROfashion Masters
            
            .contest 
                .photo(style="background-image:url(/img/photo-contests-actual.jpg)")

                .info 
                    .name Итоги конкурса 2022/23
                    .description 
                        .content-block 
                            p Выбраны победители VII Всероссийского конкурса дизайнеров одежды PROfashion Masters

            .contest 
                .photo(style="background-image:url(/img/photo-contests-actual.jpg)")

                .info 
                    .name Итоги конкурса 2022/23
                    .description 
                        .content-block 
                            p Выбраны победители VII Всероссийского конкурса дизайнеров одежды PROfashion Masters

            .contest 
                .photo(style="background-image:url(/img/photo-contests-actual.jpg)")

                .info 
                    .name Итоги конкурса 2022/23
                    .description 
                        .content-block 
                            p Выбраны победители VII Всероссийского конкурса дизайнеров одежды PROfashion Masters

            .contest 
                .photo(style="background-image:url(/img/photo-contests-actual.jpg)")

                .info 
                    .name Итоги конкурса 2022/23
                    .description 
                        .content-block 
                            p Выбраны победители VII Всероссийского конкурса дизайнеров одежды PROfashion Masters