section.contests-actual
    .container 
        .contests 
            .contest 
                .photo(style="background-image:url(/img/photo-contests-actual.jpg)")

                .info 
                    .name Всероссийский конкурс промышленного дизайна одежды PROfashion Masters Х
                    .description 
                        .content-block 
                            p Тема конкурса – верхняя одежда (пальто).