section.promo-banner
    .bg-layer
    .container
        .promo(style="background-image: url(../img/bg-contests-promo.jpg)")
            .contest-info
                .name Всероссийский конкурс промышленного дизайна одежды PROfashion Masters
                .period 2023/24
                .theme Тема конкурса – верхняя одежда