section.front-zhuri-block
    .container 
        h2.section-title Жюри

        .zhuri
            .member
                .photo(style="background-image:url(/img/zhuri-01.jpg)")
                .info 
                    .name Дмитрий Каманин
                    .preview-text Fashion-фотограф, режиссер, создатель студии кинопортрета «Русский Голливуд»

            .member.active
                .photo(style="background-image:url(/img/zhuri-02.jpg)")
                .info
                    .name Дмитрий Каманин
                    .preview-text Fashion-фотограф, режиссер, создатель студии кинопортрета «Русский Голливуд»
            
            .member
                .photo(style="background-image:url(/img/zhuri-03.jpg)")
                .info
                    .name Дмитрий Каманин
                    .preview-text Fashion-фотограф, режиссер, создатель студии кинопортрета «Русский Голливуд»

            .member
                .photo(style="background-image:url(/img/zhuri-04.jpg)")
                .info
                    .name Дмитрий Каманин
                    .preview-text Fashion-фотограф, режиссер, создатель студии кинопортрета «Русский Голливуд»

        .controls
            a.show-all(href="#") Смотреть всех