doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.min.css")
        title Главная страница
    body 
        header 
            .container 
                .top
                    a.logo.logo--profashion(href="/")
                        img.logo__img(src="/img/logo.svg")

                    .main-nav 
                        a.main-nav__link(href="#") Конкурсы
                        a.main-nav__link(href="#") Регистрация
                        a.main-nav__link(href="#") Жюри
                        a.main-nav__link(href="#") Участники
                        a.main-nav__link(href="#") Проекты
                        a.main-nav__link(href="#") Партнеры

                    .logo.logo--oguz 
                        img.logo__img(src="/img/add_logo.svg")

                .bottom
                    .competition-name
                        h1.main-row Участники конкурса
                        .sub-row Промышленного дизайна одежды

                    .add-menu 
                        a.add-menu__link(href="#") Новости
                        a.add-menu__link(href="#") Личный кабинет