section.jury-list
    .bg-layer
    .container
        .content-block
            p В жюри конкурса входят руководители и главные дизайнеры промышленных предприятий, преподаватели профильных вузов, профильные журналисты.

        .controls 
            .jury-type Руководители

            select.js-jury-types(name="jury-type")
                option(value="1") Руководители   
                option(value="2") Главные дизайнеры   
                option(value="3") Преподаватели профильных ВУЗов   
                option(value="4") Журналисты   
                option(value="5") Консультанты, байеры

        .jury-members
            .member
                .photo(style="background-image:url(/img/andrey_burmatikov.jpg)")
                .info 
                    .name Андрей Бурматиков
                    .content-block 
                        p Cооснователь и креативный директор бренда Global Nomads
            .member
                .photo(style="background-image:url(/img/dmitrii_kanin.jpg)")
                .info 
                    .name Дмитрий Канин
                    .content-block 
                        p Fashion-фотограф, режиссер, создатель студии кинопортрета «Русский Голливуд»
            .member
                .photo(style="background-image:url(/img/bogatoz_aldongarova.jpg)")
                .info 
                    .name Богатоз Алдонгарова
                    .content-block 
                        p Учредитель Kazakhstan Fashion Week
            .member
                .photo(style="background-image:url(/img/nastya_fedorova.jpg)")
                .info 
                    .name Настя Федорова
                    .content-block 
                        p PR-менеджер Fashion Factory School
            .member
                .photo(style="background-image:url(/img/ksenia_novikova.jpg)")
                .info 
                    .name Ксения Новикова
                    .content-block 
                        p Дизайнер, преподаватель
            .member
                .photo(style="background-image:url(/img/svetlana_romanova.jpg)")
                .info 
                    .name Светлана Романова
                    .content-block 
                        p Вице-президент Международной Ассоциации участников индустрии экомоды IAEF, основатель Всероссийского проекта Talantonline