section.news-top
    .columns 
        .column.column--third
            a.news-item(href="#" style="background-image: url(/img/top-news-01.jpg)")
        .column.column--third
            a.news-item(href="#" style="background-image: url(/img/top-news-02.jpg)")
        .column.column--third
            a.news-item(href="#" style="background-image: url(/img/top-news-03.jpg)")