section.news-list 
    .container 
        .news 
            .news-item 
                .news-photo(style="background-image: url(/img/news-item-1.jpg)")
                .news-item-info 
                    .news-item-title Выбраны победители конкурса дизайнеров PROFashion Masters
                    .content-block
                        p Вечером 22 февраля на подиуме выставки Collection Premiere Moscow состоялся гала-показ IXВсероссийского конкурса дизайнеров одежды
                    .publication-date Дата публикации: 23.02.2023

            .news-item 
                .news-photo(style="background-image: url(/img/news-item-2.jpg)")
                .news-item-info 
                    .news-item-title Финальный показ конкурса PROFashion Masters пройдет 22 февраля
                    .content-block
                        p 22 февраля на подиуме крупнейшей профильной выставки Collection Première Moscow состоитсягала-показ конкурсных коллекций IX Всероссийского конкурса дизайнеров одежды PROfashionMasters. Конкурс проводится девятый год подряд
                    .publication-date Дата публикации: 15.02.2023

            .news-item 
                .news-photo(style="background-image: url(/img/news-item-3.jpg)")
                .news-item-info 
                    .news-item-title РАБОТА ДИЗАЙНЕРА ОДЕЖДЫ НА ПРОИЗВОДСТВЕ: ОЖИДАНИЯ И РЕАЛЬНОСТЬ
                    .content-block
                        p 27 января в 15:00 в рамках образовательной программы PROfashion Masters состоится прямой эфир на тему «Работа дизайнера одежды на…
                    .publication-date Дата публикации: 26.01.2023

            .news-item 
                .news-photo(style="background-image: url(/img/news-item-4.jpg)")
                .news-item-info 
                    .news-item-title КАК ПОДГОТОВИТЬ КОЛЛЕКЦИЮ К ФИНАЛУ? КОНФЕРЕНЦИЯ С ЧЛЕНАМИ ЖЮРИ PROFASHION MASTERS
                    .content-block
                        p 27 января в 15:00 в рамках образовательной программы PROfashion Masters состоится прямой эфир на тему «Работа дизайнера одежды на…
                    .publication-date Дата публикации: 15.02.2023

            .news-item 
                .news-photo(style="background-image: url(/img/news-item-5.jpg)")
                .news-item-info 
                    .news-item-title 7 ДЕКАБРЯ СОСТОИТСЯ ОНЛАЙН-КОНФЕРЕНЦИЯ ПО ИТОГАМ ЭСКИЗНОГО ЭТАПА
                    .content-block
                        p 7 декабря, с 15:00 до 16:30 по московскому времени пройдет ZOOM-конференция с членамижюри и участниками конкурса PROfashion
                    .publication-date Дата публикации: 05.12.2022
            .news-item 
                .news-photo(style="background-image: url(/img/news-item-6.jpg)")
                .news-item-info 
                    .news-item-title ОБЪЯВЛЕНЫ ФИНАЛИСТЫ КОНКУРСА PROFASHION MASTERS IX
                    .content-block
                        p Организаторы IX Всероссийского конкурса дизайнеров одежды PROfashion Masters утвердили список финалистов. Учитывая повышенный интерес к проекту в этом году…
                    .publication-date Дата публикации: 23.11.2022
        .controls 
            .show-more Показать еще 