section.news-front 
    .container 
        .section-title Новости

        .news 
            .news-item 
                .news-photo(style="background-image: url(/img/news-item-1.jpg)")
                .news-item-info 
                    .news-item-title Выбраны победители конкурса дизайнеров PROFashion Masters
                    .content-block
                        p Вечером 22 февраля на подиуме выставки Collection Premiere Moscow состоялся гала-показ IXВсероссийского конкурса дизайнеров одежды
                    .publication-date Дата публикации: 23.02.2023

            .news-item 
                .news-photo(style="background-image: url(/img/news-item-2.jpg)")
                .news-item-info 
                    .news-item-title Финальный показ конкурса PROFashion Masters пройдет 22 февраля
                    .content-block
                        p 22 февраля на подиуме крупнейшей профильной выставки Collection Première Moscow состоитсягала-показ конкурсных коллекций IX Всероссийского конкурса дизайнеров одежды PROfashionMasters. Конкурс проводится девятый год подряд
                    .publication-date Дата публикации: 15.02.2023

        .controls 
            a.show-all(href="#") Показать все 