section.opisanie 
    .container 
        .section-title Описание конкурса

    .opisanie-texts 
        .red-header
            .container
                .columns 
                    .column
                        .icon
                        .text Единственный
                    .column 
                        .icon
                        .text Жюри
        .text-blocks
            .container
                .columns 
                    .column
                        .content-block 
                            p PROfashion Masters – единственный конкурс, ориентированный на создание промышленных коллекций и направленный на формирование профессиональных кадров для российских производителей одежды.

                    .column
                        .content-block 
                            p В жюри конкурса входят руководители и главные дизайнеры крупных предприятий, преподаватели профильных вузов, аналитики, консультанты, журналисты, байеры.