section.partner-list
    .container
        .section-title Партнеры

        .partners 
            .partner
                .partner-photo(style="background-image: url(/img/partner-01.png)")
                .partner-description
                    .name Fashion Consulting Group
                    .content-block 
                        p C 2000 года работаем с практическими задачами компаний: бизнес планирование и ассортимент, маркетинг и брендинг, дистрибуция и мультиканальные продажи. Помимо консалтинга проводим регулярные исследования fashion рынка, создаем специальные программы отраслевого образования и переподготовки.

            .partner
                .partner-photo(style="background-image: url(/img/partner-05.png)")
                .partner-description
                    .name Российский государственный университет имени А.Н. Косыгина 
                    .content-block 
                        p Ведущий вуз индустрии моды и легкой промышленности, здесь представлены все отраслевые творческие и технологические специальности - от дизайна одежды до технологии производства. Среди преподавателей вуза — дизайнеры с мировым именем в индустрии моды Вячеслав Зайцев, Валентин Юдашкин, Елена Теплицкая, историк моды Александр Васильев. В университете работает Международная школа дизайна ESMOD MOSCOU, представительства которой есть в 14 странах мира.

            .partner
                .partner-photo(style="background-image: url(/img/partner-09.png)")
                .partner-description
                    .name Академия Burda 
                    .content-block 
                        p Академия Burda - курсы-клуб, где можно не только научиться шить, собственноручно делать модные аксессуары, украшения и даже элементы домашнего декора, но и познакомиться с интересными людьми и просто провести время в приятной атмосфере.

            .partner
                .partner-photo(style="background-image: url(/img/partner-04.png)")
                .partner-description
                    .name ProCapitalist.ru - швейное дело
                    .content-block 
                        p Сейчас наступило время тотального обмена информацией между участниками швейного рынка.. В этом и состоит будущее нашего портала Procapitalist.ru: Ничто не сработает лучше, чем рекомендация твоего друга, которую ты можешь посмотреть на наших страницах. Присылайте информацию о себе, делитесь своими знаниями и это будет лучшей рекламой для вас и вашего бизнеса.

            .partner
                .partner-photo(style="background-image: url(/img/partner-06.png)")
                .partner-description
                    .name Beinopen 
                    .content-block 
                        p Cообщество талантливых профессионалов индустрии моды и легкой промышленности в России. Цель Института Beinopen – создать среду для развития прогрессивных модных бизнесов на базе предприятий легкой промышленности, креативной и IT индустрий. Институт развивает производственные цепочки как внутри регионов страны, так и на федеральном уровне. Наша команда реализовала проекты в 25 регионах страны и готова поработать с вами.

            .partner
                .partner-photo(style="background-image: url(/img/partner-10.png)")
                .partner-description
                    .name Журнал «Богема»
                    .content-block 
                        p Журнал «Богема»/La Boheme Magazine — лауреат Национальной премии в области индустрии моды «Золотое веретено» 2020 при поддержке Министерства промышленности и торговли Российской Федерации. Журнал «Богема» — официальный информационный партнер: Mercedes-Benz Fashion Week , Estet Fashion Week, Российского Дворянского Собрания (РДС), CPM, официально аккредитован — Moscow Fashion Week.

            .partner
                .partner-photo(style="background-image: url(/img/partner-03.png)")
                .partner-description
                    .name Moda News 
                    .content-block 
                        p Ежедневный интернет-портал индустрии моды.На страницах каждый день публикуются эксклюзивные новости, освещающие события в национальной и мировой индустрии моды, регулярно выходят статьи и интервью, анонсы важных событий в мире российской индустрии моды.

            .partner
                .partner-photo(style="background-image: url(/img/partner-07.png)")
                .partner-description
                    .name Collection Première Moscow
                    .content-block 
                        p Самая масштабная международная выставка индустрии моды в России CPM — Collection Première Moscow проводится с 2003 года традиционно в ЦВК «Экспоцентр». Каждый сезон коллекции будущего сезона презентуют более 600 брендов из более чем 20 стран, включая Россию, Турцию, Италию, Казахстан, Китай, Индию, Иран, Азербайджан и другие, а для заказа коллекций площадку посещает более 15 тысяч ритейлеров и других участников рынка.