section.partners-front
    .container 
        .section-title Партнеры

        .partners 
            .partner(style="background-image: url(/img/partner-01.png)")
            .partner(style="background-image: url(/img/partner-02.png)")
            .partner(style="background-image: url(/img/partner-03.png)")
            .partner(style="background-image: url(/img/partner-04.png)")
            .partner(style="background-image: url(/img/partner-05.png)")
            .partner(style="background-image: url(/img/partner-06.png)")
            .partner(style="background-image: url(/img/partner-07.png)")
            .partner(style="background-image: url(/img/partner-08.png)")
            .partner(style="background-image: url(/img/partner-09.png)")
            .partner(style="background-image: url(/img/partner-10.png)")
            .partner(style="background-image: url(/img/partner-11.png)")
            .partner(style="background-image: url(/img/partner-12.png)")