section.participants-list
    .container 
        .participants
            .participant
                .photo(style="background-image:url(/img/participants-01.jpg)")
                .info 
                    .name Зарембо Денис
                    .content-block 
                        p Дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-02.jpg)")
                .info 
                    .name Мороз
                    .content-block 
                        p Дизайн-студия
            .participant
                .photo(style="background-image:url(/img/participants-03.jpg)")
                .info 
                    .name Соколова Юлия
                    .content-block 
                        p Дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-04.jpg)")
                .info 
                    .name Большаков Максим Владимирович
                    .content-block 
                        p Модельер
            .participant
                .photo(style="background-image:url(/img/participants-05.jpg)")
                .info 
                    .name Григорьева Варвара 
                    .content-block 
                        p Дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-06.jpg)")
                .info 
                    .name Дроздова Вера Данииловна
                    .content-block 
                        p Молодой специалист

            .participant
                .photo(style="background-image:url(/img/participants-07.jpg)")
                .info 
                    .name Зотова Анна Дмитриевна
                    .content-block 
                        p Студент
            .participant
                .photo(style="background-image:url(/img/participants-08.jpg)")
                .info 
                    .name Филиппов Иван Саввич
                    .content-block 
                        p Дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-09.jpg)")
                .info 
                    .name Татаркин Михаил
                    .content-block 
                        p Промышленный дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-10.jpg)")
                .info 
                    .name Абрамова Алиса Дамировна
                    .content-block 
                        p Модельер
            .participant
                .photo(style="background-image:url(/img/participants-11.jpg)")
                .info 
                    .name Зарембо Денис
                    .content-block 
                        p Независимый дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-12.jpg)")
                .info 
                    .name Большаков Дмитрий 
                    .content-block 
                        p Молодой специалист

            .participant
                .photo(style="background-image:url(/img/participants-13.jpg)")
                .info 
                    .name Михайлова Милана 
                    .content-block 
                        p Студент
            .participant
                .photo(style="background-image:url(/img/participants-14.jpg)")
                .info 
                    .name Кузина Ольга Филипповна
                    .content-block 
                        p Независимый дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-15.jpg)")
                .info 
                    .name Фетисова Ева Дмитриевна
                    .content-block 
                        p Модельер
            .participant
                .photo(style="background-image:url(/img/participants-16.jpg)")
                .info 
                    .name Егорова Милана Матвеевна
                    .content-block 
                        p Промышленный дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-17.jpg)")
                .info 
                    .name Лебедев Дмитрий 
                    .content-block 
                        p Дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-18.jpg)")
                .info 
                    .name ААА
                    .content-block 
                        p Дизайн-студия

            .participant
                .photo(style="background-image:url(/img/participants-19.jpg)")
                .info 
                    .name Нестерова Ксения 
                    .content-block 
                        p Дизайн-студия
            .participant
                .photo(style="background-image:url(/img/participants-20.jpg)")
                .info 
                    .name Соколова Тамара 
                    .content-block 
                        p Студент
            .participant
                .photo(style="background-image:url(/img/participants-21.jpg)")
                .info 
                    .name Ульянова Валерия Артуровна
                    .content-block 
                        p Студент
            .participant
                .photo(style="background-image:url(/img/participants-22.jpg)")
                .info 
                    .name З+Д
                    .content-block 
                        p Дизайн-студия
            .participant
                .photo(style="background-image:url(/img/participants-23.jpg)")
                .info 
                    .name Давыдов Артём Егорович
                    .content-block 
                        p Дизайнер
            .participant
                .photo(style="background-image:url(/img/participants-24.jpg)")
                .info 
                    .name Круглов Константин 
                    .content-block 
                        p Независимый дизайнер

        .controls 
            .show-more Показать еще