section.subscribe-form
    .container  
        h2.section-title Напишите нам

        .content-block 
            p Чтобы начать сотрудничество

        form.subscribe(action="")
            .form-fields 
                .form-field
                    input.input-text(type="text" placeholder="Электронная почта")
                .form-field
                    input.btn.btn--red(type="submit" value="Стать партнером")