section.profit-for-winners(style="background-image:url(../img/profit-to-winners.jpg)")
    .container
        .columns 
            .column 
                h2.section-title Что получают победители?
            .column
                .content-block 
                    p Две главные награды размером в 100 тысяч рублей каждая для двух финалистов PROfashion Masters.
                    p Возможность стажировки в ведущих компаниях-производителях верхней одежды.
                    p Дополнительные призы от партнёров и жюри конкурса.

section.participation
    .container 
        h2.section-title Заявка на участие
        .btn.btn--red
            .text Заполнить
                img.icon-participation(src="/img/icon-arrow-registration.svg")