section.profit-for-finalists
    .red-header
        .container
            h2.section-title Что получают победители первого этапа?

    .columns
        .column.column--photo(style="background-image:url(../img/profit-to-finalist.jpg)")
            .content-block
                p Всем финалистам компания «Ткани Престиж» бесплатно предоставляет пальтовые ткани для создания конкурсных работ
        .column.column--text
            .block-title Программа профессиональной поддержки участников второго этапа

            .gifts
                .gift
                    .gift-title Программа менторства.
                    .content-block
                        p Каждому участнику конкурса, прошедшему во второй этап, предоставляется ментор – специалист в дизайне и конструировании с большим опытом работы в том числе и на промышленном производстве. Программа предполагает возможность ежедневно контактировать с ментором, задавать ему вопросы, связанные с дизайном и конструированием, получать советы и наставления в процессе создания конкурсной «капсулы».

                .gift
                    .gift-title Мастер-классы 
                    .content-block
                        p (вебинары) экспертов индустрии.
                        p Для участников второго этапа будут организованы мастер-классы (для тех, кто находится не в Москве – вебинары) членов жюри конкурса, ведущих специалистов индустрии моды, дизайнеров, журналистов.

                .gift
                    .gift-title Экскурсии на фабрики.
                    .content-block
                        p Для участников второго этапа будут организованы экскурсии на фабрики, отшивающие верхнюю одежду.

                .gift
                    .gift-title Возможность стажировки.
                    .content-block
                        p Партнеры конкурса предоставят финалистам конкурса возможность прохождения краткосрочных стажировок на производстве.