section.projects-list 
    .container 
        .projects 
            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-01.jpg")
                    img.proj-photo(src="/img/proj-02.jpg")
                    img.proj-photo(src="/img/proj-03.jpg")
                .info
                    .name Юлия Калинина
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-02.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                    img.proj-photo(src="/img/proj-03.jpg")
                    img.proj-photo(src="/img/proj-04.jpg")
                    img.proj-photo(src="/img/proj-05.jpg")
                .info
                    .name Анна Черных
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-03.jpg")
                    img.proj-photo(src="/img/proj-02.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                    img.proj-photo(src="/img/proj-04.jpg")
                .info
                    .name Людмила Горковенко
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-04.jpg")
                    img.proj-photo(src="/img/proj-05.jpg")
                    img.proj-photo(src="/img/proj-06.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                .info
                    .name Екатерина Юрковец
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-05.jpg")
                    img.proj-photo(src="/img/proj-03.jpg")
                .info
                    .name Алексей Малинин
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-06.jpg")
                    img.proj-photo(src="/img/proj-04.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                .info
                    .name Александра Нянькина
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-01.jpg")
                    img.proj-photo(src="/img/proj-02.jpg")
                    img.proj-photo(src="/img/proj-03.jpg")
                .info
                    .name Юлия Калинина
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-02.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                    img.proj-photo(src="/img/proj-03.jpg")
                    img.proj-photo(src="/img/proj-04.jpg")
                    img.proj-photo(src="/img/proj-05.jpg")
                .info
                    .name Анна Черных
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-03.jpg")
                    img.proj-photo(src="/img/proj-02.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                    img.proj-photo(src="/img/proj-04.jpg")
                .info
                    .name Людмила Горковенко
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-04.jpg")
                    img.proj-photo(src="/img/proj-05.jpg")
                    img.proj-photo(src="/img/proj-06.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                .info
                    .name Екатерина Юрковец
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-05.jpg")
                    img.proj-photo(src="/img/proj-03.jpg")
                .info
                    .name Алексей Малинин
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-06.jpg")
                    img.proj-photo(src="/img/proj-04.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                .info
                    .name Александра Нянькина
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-01.jpg")
                    img.proj-photo(src="/img/proj-02.jpg")
                    img.proj-photo(src="/img/proj-03.jpg")
                .info
                    .name Юлия Калинина
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-02.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                    img.proj-photo(src="/img/proj-03.jpg")
                    img.proj-photo(src="/img/proj-04.jpg")
                    img.proj-photo(src="/img/proj-05.jpg")
                .info
                    .name Анна Черных
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-03.jpg")
                    img.proj-photo(src="/img/proj-02.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                    img.proj-photo(src="/img/proj-04.jpg")
                .info
                    .name Людмила Горковенко
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-04.jpg")
                    img.proj-photo(src="/img/proj-05.jpg")
                    img.proj-photo(src="/img/proj-06.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                .info
                    .name Екатерина Юрковец
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-05.jpg")
                    img.proj-photo(src="/img/proj-03.jpg")
                .info
                    .name Алексей Малинин
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.

            .project 
                .images.js--images 
                    img.proj-photo(src="/img/proj-06.jpg")
                    img.proj-photo(src="/img/proj-04.jpg")
                    img.proj-photo(src="/img/proj-01.jpg")
                .info
                    .name Александра Нянькина
                    .content-block
                        p Коллекция пальто с авторскими принтами по мотивам японских гравюр.
        .controls 
            .show-more Показать еще