section.promo-front
    .bg-layer
    .container
        .promo-slider.js--promo-slider
            .slides
                .slide
                    .inner(style="background-image: url(../img/promo_01.jpg)")
                .slide
                    .inner(style="background-image: url(../img/promo_01.jpg)")
                .slide
                    .inner(style="background-image: url(../img/promo_01.jpg)")
            .controls 
                .dots