section.rules 
    .container 
        .section-title Как проводится?

        .steps
            .step 
                .columns 
                    .column.column--step-name
                        .step-name I этап
                    .column.column--step-description
                        .description
                            .block-title Конкурс эскизов 
                            .content-block 
                                p С 1 сентября по 1 ноября 2022 года предоставляются эскизы мини-коллекции (5 моделей) верхней одежды (пальто, куртки, парки, жакеты, пиджаки и другое) в электронном виде (файл в формате JPEG).
                                p Подведение итогов 1 декабря 2023 года.

                .columns 
                    .column.column--step-description
                        .description
                            .block-title Конкурс готовых коллекций
                            .content-block 
                                p До 10 февраля 2024 года участники должны предоставить готовую коллекцию верхней одежды (5 образов) из тканей, предложенных генеральным спонсором конкурса, компанией «Ткани Престиж». Как минимум в одном изделии должен быть использован инновационный утеплитель «Слайтекс» от компании «С2 ГРУПП». Упомянутые материалы предоставляются финалистам бесплатно.
                    .column.column--step-name
                        .step-name II этап-Финал

                .columns 
                    .column.column--step-name
                        .step-name Финал
                    .column.column--step-description
                        .description
                            .block-title Финал конкурса
                            .content-block 
                                p Проходит в феврале 2024 года в Москве, на выставке CPM – Collection Premiere Moscow.
                                p Каковы критерии оценки?
                                p Коллекция должна быть выполнена в коммерческом ключе, соответствовать актуальным трендам, иметь новизну и быть креативной.