section.searchbar
    .container
        form.search
            .form-field
                input.input-text.input-search(type="text" placeholder="ПОИСК")
            
                input.search-submit(type="submit" value="")