section.single-news
    .container 
        .columns 
            .column
                .block-title Выбраны победители конкурса дизайнеров PROFASHION MASTERS IX

                .content-block 
                    p Вечером 22 февраля на подиуме выставки Collection Premiere Moscow состоялся гала-показ IX Всероссийского конкурса дизайнеров одежды PROfashion Masters. Всего в финале участвовало 15 молодых дизайнеров и дизайнерских команд из <b>Москвы, Екатеринбурга, Мурманска, Барнаула, Анадыря, Могилева, Челябинска и Иваново.</b>
                    p Каждый из участников представлял коллекцию верхней одежды, созданную из тканей генерального спонсора – международной текстильной компании «Ткани Престиж». Кроме того, конкурсанты могли использовать в своей работе технологические утеплители «Атмо», предоставленные компанией производителем «С2 ГРУПП». В состав жюри конкурса PROfashion Masters вошли действующие специалисты индустрии моды: дизайнеры Сергей Cысоев, Виктория Андриянова, Владимир Зубец, руководитель международного фестиваля моды и дизайна «Адмиралтейская игла» Любовь Джикия, автор телеграм-канала Fashion прокачка Ольга Штейнберг, сооснователь и креативный директор бренда Global Nomads Андрей Бурматиков, стилист и преподаватель Анна Рыкова, аналитик моды Катя Штерн, куратор дизайнерских программ выставки CPM Галина Истомина и многие другие. Во второй состав жюри были приглашены представители и владельцы крупных фабрик и предприятий по производству одежды.
                    img(src="/img/single-news-content-image-1.jpg", alt="")
            .column
                .content-block 
                    img(src="/img/single-news-content-image-2.jpg", alt="")
                    blockquote получила премию 100 000 рублей за лучшую творческую коллекцию
                    p По результатам голосования двух составов жюри были определены два победителя. Александра Гапанович из Мурманска получила премию 100 000 рублей за лучшую творческую коллекцию. Жюри отметило мастерскую работу с формой и объемами, а также эффектный, узнаваемый стиль дизайнера. Второй приз размером в 100 000 рублей получил Никита Баранов из Екатеринбурга. Он показал мужскую монохромную коллекцию, объединив классические и спортивные силуэты сэлементами ручной работы. Руководитель маркетинга компании «С2 ГРУПП» Елена Мельниковатоже отметила коллекцию Никиты Баранова, вручив ему премию 50 000 рублей за лучшую работы стехнологичным утеплителем «Атмо». Приз зрительских симпатий достался творческому коллективу REDAP из Барнаула, а специальный приз от редакции PROfashion получила Екатерина Васильева из  Иваново.