section.participant-content 
    .container 
        .participant-info 
            figure.photo
                img(src="/img/participant-single-01.jpg" alt="Дуэт дизайнеров")
                figcaption
                    .content-block 
                        p Дуэт дизайнеров 
            .description 
                .block-title Ксения Власова и Евгения Синькова
                    | , 
                    span.from
                        | Казань
                .content-block 
                    p Мы — дуэт молодых и бурлящих идеями дизайнеров, студентки первого курса КНИТУ КХТИ по специальности «Искусство костюма и текстиля». Более пяти лет Ксения занимается ручной росписью, которая и стала изюминкой нашей коллекции. Евгения — мастер индивидуального пошива в пятом поколении, именно она отшивает пальто. Это наш первый опыт участия в таком масштабном конкурсе. Для нас это очень волнительно, и в то же время любопытно — принять участие и увидеть изнутри волшебство индустрии моды, стать частью этого процесса.
        .columns 
            .column 
                .project-gallery.js--project-gallery
                    .slides
                        .slide 
                            .inner 
                                .photo(style="background-image:url(/img/single-project-01.jpg)")
                        .slide 
                            .inner 
                                .photo(style="background-image:url(/img/single-project-02.jpg)")
                        .slide 
                            .inner 
                                .photo(style="background-image:url(/img/single-project-03.jpg)")
                        .slide 
                            .inner 
                                .photo(style="background-image:url(/img/single-project-04.jpg)")

                .project-gallery-navigation.js--project-gallery-navigation
                    .slides
                        .slide 
                            .inner 
                                .photo(style="background-image:url(/img/single-project-01.jpg)")
                        .slide 
                            .inner 
                                .photo(style="background-image:url(/img/single-project-02.jpg)")
                        .slide 
                            .inner 
                                .photo(style="background-image:url(/img/single-project-03.jpg)")
                        .slide 
                            .inner 
                                .photo(style="background-image:url(/img/single-project-04.jpg)")
            .column 
                .project-preview 
                    .content-block 
                        p Название проекта:

                    .block-title «Искусство костюма и текстиля»

                    .content-block 
                        p Описание проекта
                        p Наша коллекция коммерческая, поскольку в ней отражена главная тенденция 2021 года — кастомизация; в данном случае, роспись одежды, которая очень популярна за рубежом и стремительно набирает обороты в России. Все больше людей хотят носить эксклюзивную и яркую одежду с особым смыслом. Все больше покупателей хотят через стиль показать не только осведомленность о трендах, но и свои ценности.

