section.subscribe-form
    .container  
        h2.section-title Подписаться на новости

        .content-block 
            p Подпишитесь, чтобы ничего не пропустить!

        form.subscribe(action="")
            .form-fields 
                .form-field
                    input.input-text(type="text" placeholder="Электронная почта")
                .form-field
                    input.btn.btn--red(type="submit" value="Подписаться")