section.telegram-news
    .container 
        .telegram-news-wrap 
            .info 
                img.icon-tgm(src="/img/icon-telegram-news.svg")
                .section-title Все новости и события в телеграм канале
            .controls 
                a.show-all(href="#") Перейти