section.who-can
    .container 
        .section-title Кто может участвовать?

        .persons-list 
            .columns 
                .column.column--image 
                    .photo(style="background-image: url(/img/who-can-photo.jpg)") 
                .column
                    .content-block
                        ul
                            li 
                                span Студенты и выпускники профильных высших учебных заведений не моложе 18 лет
                            li 
                                span Молодые специалисты
                            li 
                                span Молодые дизайнеры
                            li 
                                span Дизайн-студии
                            li 
                                span Творческие коллективы