include ../pug-parts/header.pug
include ../pug-parts/promo-slider.pug
include ../pug-parts/about.pug
include ../pug-parts/opisanie.pug
include ../pug-parts/who-can.pug
include ../pug-parts/rules.pug
include ../pug-parts/profit-for-finalists.pug
include ../pug-parts/profit-for-winners.pug
include ../pug-parts/front-zhuri-block.pug
include ../pug-parts/partners-front.pug


include ../pug-parts/footer.pug