* {
    padding: 0;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    font-family: "Raleway", sans-serif;
    z-index: 1;
    text-decoration: none;
    position: relative;
}
html,
body {
    width: 100%;
    min-height: 100%;
}
body {
    font-size: 10px;
    overflow-x: hidden;
}
.container {
    max-width: 133em;
    padding: 0 2em;
    margin: 0 auto;
}
.section-title {
    font-size: 6.8em;
    font-weight: 500;
}
.section-subtitle {
}
.block-title {
    font-size: 3.6em;
    font-weight: 600;
}
.accent {
    color: $red;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 2em 7.2em;
    border: 0.3em solid transparent;
    border-radius: 2.2em;
    transition: all 0.3s linear;
    cursor: pointer;

    .text {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 2em;
    }
}
.btn--red {
    background-color: $red;
    color: $white;

    &:hover {
        background-color: $redHover;
        border-color: $redHover;
    }
}
.btn--transparent {
    background-color: transparent;
    color: $text;
    border-color: $text;
    border-width: 0.1em;

    &:hover {
        background-color: $redHover;
        border-color: $redHover;
        color: $white;
    }
}
.input-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2em;
    text-transform: lowercase;
    padding: 1em 2.2em;
    border: 0.075em solid #d9d9d9;
    border-radius: 1em;
    transition: all 0.3s linear;
    cursor: pointer;
}
.content-block {
    color: $text;
    font-weight: 400;

    p,
    li,
    span,
    a,
    ul,
    ol,
    blockquote {
        line-height: 1.35;
    }

    p {
        font-size: 1.8em;
        margin: 0 0 0.6em 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        list-style-type: none;
        li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 5.4em;
            margin-bottom: 3.4em;
            a,
            span {
                text-decoration: none;
                font-size: 1.8em;
                line-height: 1.45;
            }

            &::before {
                display: block;
                position: absolute;
                content: "";
                width: 3.2em;
                height: 3.2em;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(/img/icon-list-plus.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    img {
        width: 100%;
        height: auto;
        margin: 4em 0 3em 0;
        display: block;
    }

    blockquote {
        display: block;
        font-size: 2.4em;
        font-style: italic;
        font-weight: 500;
        padding: 0 0 0 4.5em;
        margin: 1.6em 0 1.6em 0;
        line-height: 1.25;

        &::before {
            position: absolute;
            display: block;
            content: "";
            background-image: url(/img/icon-quotes.svg);
            background-size: contain;
            background-position: center top;
            background-repeat: no-repeat;
            width: 1.6em;
            height: 2em;
            top: 0;
            left: 0.5em;
        }
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}
.columns {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }

    .column {
        width: 49%;
        flex: none;
    }
    .column--third {
        width: 33.3333%;
    }
}
