* {
    padding: 0;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    font-family: "Raleway", sans-serif;
    z-index: 1;
    text-decoration: none;
    position: relative;
}
html,
body {
    width: 100%;
    min-height: 100%;
}
body {
    font-size: 10px;
    overflow-x: hidden;
}
.container {
    max-width: 133em;
    padding: 0 2em;
    margin: 0 auto;
    height: 22em;

    .section-title {
        font-size: 15em;
    }
    .section-subtitle {
    }

    .accent {
        color: $red;
    }

    .btn {
    }
}
