.participants-list {
    padding: 3.4em 0 8.4em 0;

    .container {
        .participants {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;

            .participant {
                width: 15.5%;
                margin: 0 0 3.8em 0;

                .photo {
                    height: 20em;
                }
                .info {
                    padding: 0.4em 0em 0.4em;

                    .name {
                        font-size: 2em;
                        font-weight: 600;
                        line-height: 1.3;
                        height: auto;

                        font-size: 2.4em;
                    }
                    .content-block {
                        height: auto;
                        p {
                            line-height: 1.25;
                        }
                    }
                }
            }
        }
        .controls {
            text-align: center;
            margin: 1.4em 0;
            .show-more {
                display: inline-block;
                font-size: 2.1em;
                text-transform: uppercase;
                font-weight: 600;
                padding: 0 2em 0.2em 0;
                border-bottom: 0.1em solid $text;
                cursor: pointer;
                transition: all 0.3s linear;

                &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    width: 1em;
                    height: 0.5em;
                    background-image: url(../img/icon-arrow-show-more.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    top: 40%;
                    right: 0.1em;
                    transform: translateY(-50%);
                    transition: all 0.3s linear;
                }

                &:hover {
                    color: $red;
                    border-color: $red;

                    &::after {
                        background-image: url(../img/icon-arrow-show-more-hover.svg);
                    }
                }
            }
        }
    }
}
