.searchbar {
    padding: 3.6em 0;
    .container {
        .search {
            .form-field {
                .input-text {
                }
                .input-search {
                    width: 100%;
                    position: relative;
                    font-size: 2.6em;
                    padding: 0.74em 2.9em;
                }
                .search-submit {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 3.2em;
                    height: 3.2em;
                    background-image: url(/img/icon-search.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: 1;
                    left: 3em;
                    top: 50%;
                    transform: translateY(-50%);
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    transition: all 0.3s linear;
                    
                    &:hover {
                        background-image: url(/img/icon-search-hover.svg);
                    }
                }
            }
        }
    }
}
