.single-news {
    padding: 2em 0 6.5em 0;
    .container {
        .columns {
            .column {
                .block-title {
                    font-size: 3.6em;
                    font-weight: 600;
                    text-transform: uppercase;
                    line-height: 1.25;
                    margin-bottom: 0.6em;
                }

                .content-block {
                    p {
                    }
                    img {
                    }
                    blockquote {
                    }
                }

                &:last-child {
                    padding-left: 10.5em;
                }
            }
        }
    }
}
