.subscribe-form {
    padding: 7.8em 0 10em;
    .container {
        .section-title {
            font-size: 4.1em;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
        }

        .content-block {
            text-align: center;
            margin: 2.6em 0 5em;
        }

        .subscribe {
            width: 73em;
            margin: 0 auto;
            .form-fields {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .form-field {
                    width: 50%;
                    &:first-child {
                        text-align: right;
                    }
                    .input-text {
                    }
                    .btn {
                        font-size: 1.8em;
                        text-transform: uppercase;
                        font-weight: 600;
                        padding: 1.1em 4.2em;
                        border: 0.15em solid rgba(0, 0, 0, 0);
                        border-radius: 1em;
                        margin: 0 0 0 1.4em;
                    }
                }
            }
        }
    }
}
