.telegram-news {
    padding: 3.6em 0;
    .container {
        .telegram-news-wrap {
            border: 0.1em solid $red;
            padding: 4.8em 10em 4.8em 11.5em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .info {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 60%;
                flex: none;
                .icon-tgm {
                    display: inline-block;
                    width: 8.4em;
                    height: 8.4em;
                    margin: 0 1.8em 0 0;
                }
                .section-title {
                    font-size: 4em;
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: 1.2;
                }
            }
            .controls {
                width: 25%;
                // position: absolute;
                // top: 66.3em;
                // right: 17.6em;
                text-align: left;
                transition: all 0.3s linear;

                .show-all {
                    font-size: 2.1em;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: $text;
                    cursor: pointer;
                    transition: all 0.3s linear;

                    &::after {
                        position: absolute;
                        content: "";
                        width: 12.5em;
                        height: 0.6em;
                        background-image: url(/img/icon-arrow-show-jury.svg);
                        background-repeat: no-repeat;
                        background-position: center right;
                        background-size: cover;
                        bottom: -0.4em;
                        left: 0;
                        cursor: pointer;
                        transition: all 0.3s linear;
                    }
                }
                .show-all:hover {
                    color: $red;
                    &::after {
                        background-image: url(/img/icon-arrow-show-jury-hover.svg);
                    }
                }
            }
        }
    }
}
